{% extends 'base.html' %}
{% load static %}

{% block content %}
<body data-target="#nino-navbar" data-spy="scroll">
	<!-- Counting
    ================================================== -->
    <!--section id="nino-counting">
    	<div class="container">
    		<div layout="row" class="verticalStretch">
    			<div class="item">
    				<div class="number">42</div>
    				<div class="text">Web Design Projects</div>
    			</div>
    			<div class="item">
    				<div class="number">123</div>
    				<div class="text">happy client</div>
    			</div>
    			<div class="item">
    				<div class="number">15</div>
    				<div class="text">award winner</div>
    			</div>
    			<div class="item">
    				<div class="number">99</div>
    				<div class="text">cup of coffee</div>
    			</div>
    			<div class="item">
    				<div class="number">24</div>
    				<div class="text">members</div>
    			</div>
    		</div>
    	</div>
    </section--><!--/#nino-counting-->

    <!-- Services
    ================================================== -->
    <!--section id="nino-services">
    	<div class="container">
    		<h2 class="nino-sectionHeading">
				<span class="nino-subHeading">We work with</span>
				Amazing Services
			</h2>
			<div class="sectionContent">			
				<div class="fw" layout="row">
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-apple-keyboard-command nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">Photography</h4>
								<p>Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-blender nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">Web Design</h4>
								<p>Web design encompasses many different skills and disciplines in the production and maintenance of websites.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-bookmark-plus-outline nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">Creativity</h4>
								<p>Creativity is a phenomenon whereby something new and somehow valuable is formed. The created item may be intangible or a physical object.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-buffer nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">seo</h4>
								<p>Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-desktop-mac nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">Css/Html</h4>
								<p>HyperText Markup Language, commonly abbreviated as HTML, is the standard markup language used to create web pages. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-diamond nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">digital</h4>
								<p>With digital signals, system noise, provided it is not too great, will not change the quantification whereas with signals handled using analog processing.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </section--><!--/#nino-services-->

    <!-- Unique Design
    ================================================== -->
    <!--section id="nino-uniqueDesign">
    	<div class="container">
    		<h2 class="nino-sectionHeading">
				<span class="nino-subHeading">For all devices</span>
				Unique design
			</h2>
			<div class="sectionContent">
				<div class="nino-devices">
					<img class="tablet" src="images/unique-design/img-1.png" alt="">
					<img class="mobile" src="images/unique-design/img-2.png" alt="">
				</div>
			</div>
    	</div>
    </section--><!--/#nino-uniqueDesign-->

	<section id="nino-latestBlog">
		<h2 class="nino-sectionHeading">
			<span class="nino-subHeading">This Week</span>
			POPULAR Movie
		</h2>
    	<div class="container">
			<div class="sectionContent">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/인질.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">인질</h3>
							<p class="articleDesc">
								배우 황정민 '인질'로 잡혔다!
평소와 똑같던 어느 새벽,
 서울 한복판에서 증거도, 목격자도 없이 대한민국 톱배우 '황정민'이 납치된다.
 
 한 치 앞을 알 수 없는 상황 속
 살기 위한 극한의 탈주가 시작되는데…
 
 관객들을 사로잡을 리얼리티 액션스릴러가 온다!
							</p>
						</article>
					</div>
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/싱크홀.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">싱크홀</h3>
							<p class="articleDesc">
								줄거리
사.상.초.유! 도심 속 초대형 재난 발생!
서울 입성과 함께 내 집 마련의 꿈을 이룬 가장 ‘동원(김성균)’
 이사 첫날부터 프로 참견러 ‘만수’(차승원)와 사사건건 부딪힌다.
 
 ‘동원’은 자가취득을 기념하며 직장 동료들을 집들이에 초대하지만
 행복한 단꿈도 잠시, 순식간에 빌라 전체가 땅 속으로 떨어지고 만다.
 
 마주치기만 하면 투닥거리는 빌라 주민 ‘만수’와 ‘동원’
 ‘동원’의 집들이에 왔던 ‘김대리’(이광수)와 인턴사원 ‘은주’(김혜준)까지!
 지하 500m 싱크홀 속으로 떨어진 이들은 과연 무사히 빠져나갈 수 있을까?
 
 “한 500m 정도는 떨어진 것 같아”
 “우리… 나갈 수 있을까요?”
							</p>
						</article>
					</div>
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/모가디슈.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">모가디슈</h3>
							<p class="articleDesc">
								내전으로 고립된 낯선 도시, 모가디슈 지금부터 우리의 목표는 오로지 생존이다!
 대한민국이 UN가입을 위해 동분서주하던 시기
 1991년 소말리아의 수도 모가디슈에서는 일촉즉발의 내전이 일어난다.
 통신마저 끊긴 그 곳에 고립된 대한민국 대사관의 직원과 가족들은
 총알과 포탄이 빗발치는 가운데, 살아남기 위해 하루하루를 버텨낸다.
 그러던 어느 날 밤, 북한 대사관의 일행들이 도움을 요청하며 문을 두드리는데…
 목표는 하나, 모가디슈에서 탈출해야 한다!
							</p>
						</article>
					</div>
				</div>
			</div>
    	</div>
    </section>
	<section id="nino-latestBlog">
		<h2 class="nino-sectionHeading">
			<span class="nino-subHeading">This Month</span>
			POPULAR Movie
		</h2>
    	<div class="container">
			<div class="sectionContent">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/수어사이드.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">수어사이드 스쿼드 2</h3>
							<p class="articleDesc">
								줄거리
“우리는 격하게 세상을 구하고 싶다!”
살고 싶다면 무조건 성공시켜라!
 최강 우주 빌런에 맞선, 자살특공대에게 맡겨진 ‘더’ 대책 없는 작전.
 팀플레이가 ‘더’ 불가능한 최악의 안티히어로들.
 최고의 팀워크를 기대한다면 “죽.는.다!”
							</p>
						</article>
					</div>
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/블랙위도우.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">블랙위도우</h3>
							<p class="articleDesc">
								"모든 것을 바꾼 그녀의 선택”
어벤져스의 운명을 바꾼 블랙 위도우, 그녀의 진짜 이야기가 시작된다!
어벤져스의 히어로 블랙 위도우, ‘나타샤 로마노프’ (스칼렛 요한슨)는
 자신의 과거와 연결된 레드룸의 거대한 음모와 실체를 깨닫게 된다.
 
 상대의 능력을 복제하는 빌런 ‘태스크마스터’와 새로운 위도우들의 위협에 맞서
 목숨을 건 반격을 시작하는 ‘나타샤’는 스파이로 활약했던 자신의 과거 뿐 아니라,
 어벤져스가 되기 전 함께했던 동료들을 마주해야만 하는데…
 
 폭발하는 리얼 액션 카타르시스!
 MCU의 새로운 시대를 시작할 첫 액션 블록버스터를 만끽하라!
							</p>
						</article>
					</div>
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/크루엘라.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">크루엘라</h3>
							<p class="articleDesc">
								처음부터 난 알았어. 내가 특별하단 걸
 그게 불편한 인간들도 있겠지만 모두의 비위를 맞출 수는 없잖아?
 그러다 보니 결국, 학교를 계속 다닐 수가 없었지
 
 우여곡절 런던에 오게 된 나, 에스텔라는 재스퍼와 호레이스를 운명처럼 만났고
 나의 뛰어난 패션 감각을 이용해 완벽한 변장과 빠른 손놀림으로 런던 거리를 싹쓸이 했어
 
 도둑질이 지겹게 느껴질 때쯤, 꿈에 그리던 리버티 백화점에 낙하산(?)으로 들어가게 됐어
 거리를 떠돌았지만 패션을 향한 나의 열정만큼은 언제나 진심이었거든
 
 근데 이게 뭐야, 옷에는 손도 못 대보고 하루 종일 바닥 청소라니
 인내심에 한계를 느끼고 있을 때, 런던 패션계를 꽉 쥐고 있는 남작 부인이 나타났어
 천재는 천재를 알아보는 법! 난 남작 부인의 브랜드 디자이너로 들어가게 되었지
 
 꿈을 이룰 것 같았던 순간도 잠시, 세상에 남작 부인이 ‘그런 사람’이었을 줄이야…
 
 그래서 난 내가 누군지 보여주기로 했어
 잘가, 에스텔라
 
 난 이제 크루엘라야!
							</p>
						</article>
					</div>
				</div>
			</div>
    	</div>
    </section>
    <section id="nino-latestBlog">
		<h2 class="nino-sectionHeading">
			<span class="nino-subHeading">All times</span>
			POPULAR Movie
		</h2>
    	<div class="container">
			<div class="sectionContent">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/about-Time.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">어바웃타임</h3>
							<p class="articleDesc">
								모태솔로 팀(돔놀 글리슨)은 성인이 된 날, 아버지(빌 나이)로부터 놀랄만한 가문의 비밀을 듣게 된다.
 바로 시간을 되돌릴 수 있는 능력이 있다는 것!
 그것이 비록 히틀러를 죽이거나 여신과 뜨거운 사랑을 할 수는 없지만,
 여자친구는 만들어 줄 순 있으리..
 
 꿈을 위해 런던으로 간 팀은 우연히 만난 사랑스러운 여인 메리에게 첫눈에 반하게 된다.
 그녀의 사랑을 얻기 위해 자신의 특별한 능력을 마음껏 발휘하는 팀.
 어설픈 대시, 어색한 웃음은 리와인드! 뜨거웠던 밤은 더욱 뜨겁게 리플레이!
 꿈에 그리던 그녀와 매일매일 최고의 순간을 보낸다.
 
 하지만 그와 그녀의 사랑이 완벽해질수록 팀을 둘러싼 주변 상황들은 미묘하게 엇갈리고,
 예상치 못한 사건들이 여기저기 나타나기 시작하는데…
 
 어떠한 순간을 다시 살게 된다면, 과연 완벽한 사랑을 이룰 수 있을까?
							</p>
						</article>
					</div>
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/이터널선샤인.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">이터널선샤인</h3>
							<p class="articleDesc">
								사랑은 그렇게 다시 기억된다..
조엘은 아픈 기억만을 지워준다는 라쿠나사를 찾아가 헤어진 연인 클레멘타인의 기억을 지우기로 결심한다. 기억이 사라져 갈수록 조엘은 사랑이 시작되던 순간, 행복한 기억들, 가슴 속에 각인된 추억들을 지우기 싫어지기만 하는데... 당신을 지우면 이 아픔도 사라질까요? 사랑은 그렇게 다시 기억된다.
							</p>
						</article>
					</div>
					<div class="col-md-4 col-sm-4">
						<article>
							<div class="articleThumb">
								<a href="#"><img src="static/images/movie-poster/노트북.jpeg" alt=""></a>
							</div>
							<h3 class="articleTitle">노트북</h3>
							<p class="articleDesc">
								17살, ‘노아’는 밝고 순수한 ‘앨리’를 보고 첫눈에 반한다.
 빠른 속도로 서로에게 빠져드는 둘.
 그러나 이들 앞에 놓인 장벽에 막혀 이별하게 된다.
 
 24살, ‘앨리’는 우연히 신문에서 ‘노아’의 소식을 접하고
 잊을 수 없는 첫사랑 앞에서
 다시 한 번 선택의 기로에 서게 되는데…
 
 열일곱의 설렘, 스물넷의 아픈 기억, 그리고 마지막까지…
 한 사람을 지극히 사랑했으니 내 인생은 성공한 인생입니다
							</p>
						</article>
					</div>
				</div>
			</div>
    	</div>
    </section>

	


    <!-- Search Form - Display when click magnify icon in menu
    ================================================== -->
    <form action="" id="nino-searchForm">
    	<input type="text" placeholder="Search..." class="form-control nino-searchInput">
    	<i class="mdi mdi-close nino-close"></i>
    </form><!--/#nino-searchForm-->
	
    <!-- Scroll to top
    ================================================== -->
	<a href="#" id="nino-scrollToTop">Go to Top</a>
	
	<!-- javascript -->
	<script type="text/javascript" src="js/jquery.min.js"></script>	
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.hoverdir.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.97074.js"></script>
	<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="js/unslider-min.js"></script>
	<script type="text/javascript" src="js/template.js"></script>


		
</body>
{% endblock %}